@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
}
:root{
  --verdeclaro:#c1e83f;
  --gris:#e6e2e1 ;
  --negroclaro:#5e5b62;
  --lila:#4d2d9a ;
  --negro:#262626;
  --title:'Poppins', sans-serif;
  --texto:'Nunito Sans', sans-serif;
}
body{
	background: var(--negro);
}

header{
	height:790px;
	background:var(--negro);
	/*padding: 60px 0px 0px;*/
}
.head{
  margin:0px 100px ;
  padding-top:100px ;

}
.head .titulo{
	color:#ECECEC;
	/*padding:10px;*/
	font-size: 70px;
	display: inline-block;
	line-height:70px;
	font-family:var(--title);
}
.titulo .token{
	color:var(--verdeclaro);
	opacity: 0.4;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.head .textohead{
	color:#ECECEC;
	padding:40px 0px 0px 0px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	font-weight: 500;
}
/* boton buy */
.buy{
	width: 180px;
	padding: 20px 20px 20px;
	border-radius: 30px;
	font-weight: bold;
	color:#fff;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	background:var(--lila);
}
.addres{
	font-family: var(--title);
	color:#fff;
	text-align: unset;
	margin: auto 180px;
}
.address-token{
	padding: 20px 20px 20px;
	border-radius: 30px;
	font-weight: bold;
	margin-left: 10px;
	color:#fff;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	background:var(--n);
	 box-shadow: rgb(77 45 154 / 69%) 5px 5px 10px 3px;
	border: 1px solid rgba(255, 255, 255, 0.16);
}
.clipboard{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color:#fff;
}
#message{
	padding: 15px;
	color:#fff;
	width:100%;
	font-family: 'Poppins', sans-serif;
	
	border-radius: 10px;
	opacity: 0;
	margin-left:20px;
}
/* comunidad  */
.redes{
	color:#fff;
	font-family: 'Poppins', sans-serif;
}
.redes-li li{
	list-style: none;
	font-size: 26px;
	width:30px;
	float: left;
	padding:10px;
	color: var(--verdeclaro);
}
.redes-li li a {
	color: var(--verdeclaro);
}
/* seccion1 */
.seccion1{
	background:var(--negro);
	width: 100%;
}
.seccion1 section h1{
	color:#ECECEC;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding: 20px 10px;
}

.cards{
	width:506px;
	height: 350px;
	max-width: 100%;
	margin: auto 15px;
    border-radius: 30px;
    background: var(--negro);
    -webkit-box-align: center;
    align-items: center;
    padding-inline: 40px;
    margin-bottom: 25px;
    box-shadow: rgb(77 45 154 / 69%) 5px 5px 10px 3px;
	border: 1px solid rgb(193 232 197 / 35%);
	display: inline-block;
	margin-top: 60px;

}
/* circulo */
.circulo{
	width: fit-content;
    padding: 7px;
    background: var(--verdeclaro);
    border-radius: 50%;
    position: relative;
    top: -30px;
    margin: auto;
 		border: 4px solid var(--lila);
    width: 60px;
    height: 60px;
}
.circulo i{
	position: absolute; 
	padding: 0px;
	font-size: 50px;
}
.card-cont{
	padding: 0px 10px;
	margin: auto;
	margin-top: 40px;
}
.card-cont h3{
	color:#ECECEC;
	text-align: center;
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
}
.card-cont p{
	color:#ECECEC;
	padding: 10px;
	font-family: 'Nunito Sans', sans-serif;
}
/* seccion2 */
.seccion2{
	background: var(--negroclaro);
}
.seccion2  p{
	color:#ECECEC;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
	padding: 20px 10px;
	font-family: 'Poppins', sans-serif;

}
.roadmap {
 padding: 10px;
 margin: auto 0px;
}
.btn-road-true{
		width: 380px;
 		display: inline-flex;
 		margin: 8px;
 		padding: 25px 10px;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 23px;
    font-weight: 600;
    color: var(--gris);
    background: var(--lila);
    border: none;
    box-shadow: rgb(193 232 63 / 56%) 0px 3px 13px 1px;
    height: 50px;
    padding: 30px 23px;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
}
.btn-road-false{
		width: 380px;
 		display: inline-flex;
 		margin: 8px;
 		padding: 25px 10px;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    justify-content: left;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 23px;
    font-weight: 600;
    color: var(--gris);
    background: var(--negro);
    border: none;
    box-shadow: rgb(193 232 63 / 56%) 0px 3px 13px 1px;
    height: 50px;
    padding: 30px 23px;
    font-family: 'Poppins', sans-serif;
    pointer-events: none;
}
.btn-road-true i{
	font-size: 25px;
	font-weight: bold;
}
.btn-road-false i{
	font-size: 25px;
	font-weight: bold;
}

/* seccion 4 */
.seccion4{
	margin: 20px;
	display: block;

}
.seccion4{
	background:var(--negro);
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.titulo-preg{
	font-family: var(--title);
	font-size:30px;
	text-align: center;
	color:#fff;
	padding: 13px;
	margin-top: 20px;
}
.col-m6{
	width:45%;
	display: inline-block;
	padding:20px;
}
.text-p{
 	padding: 0px 10px;
	color:#fff;
	margin: auto;
	    display: flex;
    flex-direction: row;
    z-index: 1;
    width:100%;
}


	.btn-circle{
		display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    width: 50px;
    line-height: 1.2;
    border-radius: 50%;
    font-weight: 600;
    transition-property: ;
    transition-duration: 0.4s;
    color: var(--lila);
    box-shadow: rgb(193 232 63 / 44%) 0px 3px 10px;
    height: 50px;
    min-width: 30px;
    font-size: 15px;
    padding: 22px;
    flex-shrink: 0;
    font-family: var(--title);
    pointer-events: none;
	}
	.col-m3{margin-left: 10px;
		margin-bottom: 15px;}
		.col-m3 p{
			font-family:var(--texto);
		}
		.col-m3 h2{font-family: var(--title);}
		/* pie de pagina */
		footer{
			color:#fff;
			font-family: var(--texto);
			padding: 20px;
			 box-shadow: rgb(77 45 154 / 69%) 5px 5px 10px 3px;
	border: 1px solid rgb(193 232 197 / 35%);
		}